.App{
    margin: 0;
    padding: 3rem 1.5rem;
    box-sizing: border-box;
    color: #0f172a;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
}


.App > header{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.buttons > button{
    color: white;
    background-color:#f59e0b ;
    border: none;
    border-radius: .2rem;
    margin: 2rem .5rem 5rem;
    padding: .2rem .7rem;

    text-transform: capitalize;
    text-align: center;

    
}
#our_menuText{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

#underline{
    width: 130px;
    height: 4px;
    background-color: #f59e0b;
   

}